.adsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    margin-top: 92px;
}

@media (max-width: 768px) {
    .adsGrid {
        margin-left: 0;
        grid-template-columns: 1fr; 
        width: 100%;
    }
}